@charset "UTF-8";

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}
.icon-chatNew {
  mask-image: url(chatNew.svg);
  -webkit-mask-image: url(chatNew.svg);
}
.icon-chatSearch{
    mask-image: url(chatSearch.svg);
  -webkit-mask-image: url(chatSearch.svg);
}
.icon-chatArrowDown{
      mask-image: url(chatArrowDown.svg);
  -webkit-mask-image: url(chatArrowDown.svg);
}

.icon-folder{
      mask-image: url(folder.svg);
  -webkit-mask-image: url(folder.svg);
}
.icon-maximize{
      mask-image: url(maximize.svg);
  -webkit-mask-image: url(maximize.svg);
}

.icon-arrowUp{
      mask-image: url(ChatarrowUp.svg);
  -webkit-mask-image: url(ChatarrowUp.svg);
}
.icon-chatArrowLeft{
      mask-image: url(chatArrowLeft.svg);
  -webkit-mask-image: url(chatArrowLeft.svg);
}
.icon-chatPlus{
        mask-image: url(chatPlus.svg);
  -webkit-mask-image: url(chatPlus.svg);
}
.icon-chatBurger{
        mask-image: url(chatBurger.svg);
  -webkit-mask-image: url(chatBurger.svg);
}
.icon-chatNew2{
        mask-image: url(chatNew2.svg);
  -webkit-mask-image: url(chatNew2.svg);
}
.icon-Psport{
         mask-image: url(Psport.svg);
  -webkit-mask-image: url(Psport.svg);
}
.icon-PCheck{
          mask-image: url(PCheck.svg);
  -webkit-mask-image: url(PCheck.svg);
}
.icon-Pplan{
      mask-image: url(Pplan.svg);
  -webkit-mask-image: url(Pplan.svg);
}
.icon-Pfinance{
       mask-image: url(Pfinance.svg);
  -webkit-mask-image: url(Pfinance.svg);
}
.icon-PArrowLeft{
         mask-image: url(PArrowLeft.svg);
  -webkit-mask-image: url(PArrowLeft.svg);
}